
a {text-decoration:none; color:#339933; font-weight:normal; }
a:hover {text-decoration:underline; color:#000000; font-weight:normal; }
body {background-color:#FFFFFF;  color:#000000; font-weight:normal; font-family: "Arial", Helvetica, Times; font-size:11pt;}
p {margin-left: 0px; }
.header {opacity:1; }
.footer {opacity:1; }
.navbar {opacity:1; }
.navbar a {font-size:12pt; color:#000000; font-weight:normal; }
.contact_information_box {padding-left:2%; }
.contact_information_box h1 {font-size:20pt; color:#000000; }
.contact_information_box p {font-size:10pt; }
.contact_information_box a {font-size:10pt; color:#339933; font-weight:normal; }
.about_me_box {padding-top:100; padding-left:2%; opacity:0.95; font-size:12pt; }
.about_me_box p {font-size:12pt; }
.about_me_box a {color:#339933; font-weight:normal; font-size:18pt; }
.research_project_description {padding-top:100; padding-left:2%; opacity:1; }
.research_project_description h2 {color:#000000; }
.research_project_description p {font-size:11pt; }
.research_project_description a {font-size:11pt; color:#339933; font-weight:normal; }
.presentation_description {padding-top:100; padding-left:2%; opacity:1; }
.presentation_description h2 {color:#000000; }
.presentation_description p {font-size:10pt; }
.presentation_description a {font-size:20pt; color:#339933; font-weight:normal; }

/* figure figcaption {
    border: 1px dotted blue;
    text-align: center;
} */